@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}
h1 {
    color: rgb(32, 141, 79);
    font-size: 3em;
}
h1#principal {
    background-color: green;
    color: white;
    text-align: center;
    }
h2 {
    color: rgb(41, 138, 91);
    font-size: 2em;
}
    .um {
        color: rgb(0, 0, 92);
    }
    .titulo {
        background-color: blue;
        color:  aqua;
        text-align: center;
    }










